body {
	padding-top: 150px;
	background-color: #ffffff;
}
.top_banner{
	height: 475px;
	position: relative;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}
header {
	height: 150px;
	background-image: url(../img/top_mnu.png);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.logo {
	margin-top: 54px;
	display: block;
}
.mnu_top {
	float: right;
}
a {
	color: #656565;
}
.mnu_top a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #656565;
	font-weight: bold;
}
.mnu_top li {
	float: left;
	padding: 57px 14px 0 14px;
}
.top_1 {
	float: right;
	display: block;
	margin-top: 49px;
	margin-right: 7px;
	margin-left: 7px;
}
.top_2 {
	float: right;
	display: block;
	margin-top: 49px;
	margin-right: 7px;
	margin-left: 7px;
}
.menu {
	float: right;
}
.menu a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
}
.menu li {
	background-image: url(../img/shape.png);
	float: left;
	display: block;
	padding: 0 7px 0 7px;
	margin-top: 11px;
	background-repeat: repeat-y;
}
.menu li:first-child {
	background-image: none;
	background-repeat: no-repeat;
}
.banner_text {
	background-image: url(../img/banner_text.png);
	background-position: center;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: lighter;
	margin-top: 189px;
}
.left {
	top: 0;
	margin-top: 202px;
}
.right {
	top: 0;
	margin-top: 202px;
	float: right;
}
.featured {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 24px;
	color: #656565;
	padding: 47px 0 0 188px;
	display: flex;
	letter-spacing: -0.24px;
}
.signup{
	position: relative;
	float: right;
	top: 564px;
}
.signup h1{
	position: absolute;
	top: 30px;
	text-align: center;
	left: 38px;
	
}
.signup h1 span{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 24px;
	color: #656565;
}
.signup p{
	position: absolute;
	top: 100px;
	text-align: center;
	left: 24px;
}
.signup p span{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	color: #656565;
}
.signup input {
	position: absolute;
	height: 29px;
	width: 185px;
	left: 24px;
	top: 159px;
}
.signup a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	position: absolute;
	top: 206px;
	left: 61px;
	padding: 15px 26px 15px 26px;
	color: #fff;
	background: #7eb123;
	text-decoration: none;
	user-select: none;
}
.top_menu {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
	color: #656565;
	display: flex;
	list-style: none;
	color: #b6eefb;
}
span {
	position: relative;
}
.top_menu li {
	padding: 0 7px 0 7px;
	margin-top: 11px;
}
.top_menu a {
	text-decoration: none;
	font-size: 13px;
	color: #fff;
}
.icon-down-arrow {
	width: 9px;
	height: 6px;
}
.search{
	position: absolute;
	padding: 51px 0 0 0;
}
.search input[type="text"]{
	width: 174px;
	height: 29px;
	border: 1px solid #c6c6c6;
	background-color: #ffffff;
	padding: 0 9px 0 10px;
	color: #b7b7b7;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	border: 1px solid #c6c6c6;
}
.search input[type="submit"]{
	position: relative;
	top: 7px;
	right: 30px;
	float: right;
	font-family: 'icomoon' !important;
	background-color: transparent;
	border: none;
	font-size: 15px;
}
.products a {
	display: inline-flex;
	text-decoration: none;
}
.element {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 233px;
	height: 318px;
	border: 8px solid #ffffff;
	background-color: #ffffff;
	margin: 0 28px 27px 191px;
}
.element:hover {
	box-shadow: 0 0 20px #eaeaea;
}
.element_bg {
	display: flex;
	flex-direction: row;
	width: 233px;
	height: 229px;
	background-color: #eff1f0;
}
.element_bg h1 {
	display: flex;
	margin-top: 251px;
	margin-left: 7px;
	color: #464148;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.element_backet {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: #7db122;
	border-radius: 100%;
	margin: 246px 13px 25px 173px;
}
.element_bg p {
	position: absolute;
	display: flex;
	margin-top: 270px;
	margin-left: 7px;
	color: #7db122;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}
.element_bg img {
	position: absolute;
	margin: 66px 31px 113px 18px;
	width: 184px;
	height: 139px;
}
.element_2 {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 233px;
	height: 318px;
	border: 8px solid #ffffff;
	background-color: #ffffff;
	margin: 0 28px 27px 452px;
}
.element_2:hover {
	box-shadow: 0 0 20px #eaeaea;
}
.element_bg_2 {
	display: flex;
	flex-direction: row;
	width: 233px;
	height: 229px;
	background-color: #eff1f0;
}
.element_bg_2 img {
	position: absolute;
	margin: 60px 21px 130px 11px;
	width: 201px;
	height: 128px;
}
.element_bg_2 h1 {
	display: flex;
	margin-top: 251px;
	margin-left: 7px;
	color: #464148;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.element_basket_2 {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: #7db122;
	border-radius: 100%;
	margin: 246px 13px 25px 173px;
}
.element_bg_2 p {
	position: absolute;
	display: flex;
	margin-top: 270px;
	margin-left: 7px;
	color: #7db122;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}
.element_3 {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 233px;
	height: 318px;
	border: 8px solid #ffffff;
	background-color: #ffffff;
	margin: 0 28px 27px 715px;
}
.element_3:hover {
	box-shadow: 0 0 20px #eaeaea;
}
.element_bg_3 {
	display: flex;
	flex-direction: row;
	width: 233px;
	height: 229px;
	background-color: #eff1f0;
}
.element_bg_3 img {
	position: absolute;
	margin: 70px 9px 133px 16px;
	width: 208px;
	height: 115px;
}
.element_bg_3 h1 {
	display: flex;
	margin-top: 251px;
	margin-left: 7px;
	color: #464148;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.element_basket_3 {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: #7db122;
	border-radius: 100%;
	margin: 246px 13px 25px 173px;
}
.element_bg_3 p {
	position: absolute;
	display: flex;
	margin-top: 270px;
	margin-left: 7px;
	color: #7db122;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}
.featured_glass {
	margin: 672px 191px 0 976px;
	width: 233px;
	height: 445px;
	box-shadow: 0 0 5px #eaeaea;
	border: 13px solid #ffffff;
	background-color: #ffffff;
}