* {
	padding: 0;
	margin: 0;
}
div {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	height: 1200px;
}
.slider-container {
    width: 100%;
}
.flexbox-slider {
    display: flex;
    width: 100%;
    height: 682px;
    visibility: hidden;
}
.flexbox-slider .flexbox-slide {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    visibility: visible;
}
.flexbox-slider .flexbox-slide:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    opacity: 0;
}
.flexbox-slider .flexbox-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.9);
}
.flexbox-slider .flexbox-slide .text-block {
    position: absolute;
    top: 133px;
    left: 90px;
    color: #fff;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
}
.flexbox-slider:hover .flexbox-slide:hover {
    flex-shrink: 0;
    width: 60%;
}
.flexbox-slider.flexbox-slider-5 .flexbox-slide .text-block {
    transform: scale(0.85);
}
.flexbox-slider.flexbox-slider-5:hover .flexbox-slide:hover .text-block {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.7s;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.flexbox-slider.flexbox-slider-5:hover .flexbox-slide:hover:after {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.4s;
    opacity: 1;
    visibility: visible;
}
.flexbox-slider.flexbox-slider-5:hover .flexbox-slide:hover .col_name h1 {
	display: none;
}
.col_name h1 {
	position: absolute;
	left: -40%;
    top: 50%;
	z-index: 99;
	color: #808080;
	font-family: Gotham Pro Black;
	font-size: 60px;
	transform: rotate(-90deg);
	text-align: center;
}
.col_text {
	display: block;
	color: #363636;
}
.col_text h1 {
	font-family: Gotham Pro Black;
	font-size: 55px;
}
.col_text p {
	font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 33px;
}
.col_text ul {
	margin-left: 20px;
}
.col_text li {
	font-family: Roboto, sans-serif;
    font-weight: 300;
	font-weight: 300;
	line-height: 30px;
	color: #1c7fff;
}
.col_text ul li span {
	color: #363636;
}
.feedback_block {
	max-width: 1216px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.feedback {
	width: 440px;
	margin-top: 88px;
}
.feedback h1 {
	font-family: "Gotham Pro Black";
	font-size: 50px;
}
.feedback p {
	margin-top: 48px;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 33px;
	margin-bottom: 69px;
}
.feed_light {
	font-weight: 900;
}
.feed_t, .feed_m {
	display: none;
}
.feed_d {
	color: #fff;
	font-family: "Gotham Pro Black";
	padding: 25px 41px;
	background-color: #1c7fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.company_t, .company_m {
	display: none;
}
.company {
	width: 741px;
	height: 374px;
	margin-top: 30px;
	margin-left: 79px;
}
.company_row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.company_row:nth-child(2) {
	margin-top: 23px;
	margin-bottom: 57px;
}
.d_company_2 {
	margin-left: 132px;
	margin-top: 31px;
}
.d_company_3 {
	margin-left: 159px;
	margin-top: 34px;
}
.d_company_4 {
	margin-left: 59px;
	margin-top: 31px;
}
.d_company_5 {
	margin-left: 171px;
	margin-top: 50px;
}
.d_company_6 {
	margin-left: 154px;
	margin-top: 50px;
}
.d_company_7 {
	margin-left: 36px;
}
.d_company_8 {
	margin-left: 182px;
	margin-top: 7px;
}
.d_company_9 {
	margin-left: 159px;
	margin-top: 19px;
}
@media screen and (max-width: 768px) {
	body {
		height: 600px;
	}
	.flexbox-slider .flexbox-slide .text-block {
	    top: 40px;
	    left: 20px;
	}
	.col_text h1 {
		font-size: 36px;
		margin-bottom: 20px;
	}
	.col_text p{
		margin-top: 17px;
	    line-height: 24px;
	}
	.col_text ul {
		margin-left: 20px;
	}
	.col_text li {
		line-height: 24px;
	}
	.flexbox-slider {
		height: 440px;
	}
	.col_name h1 {
		left: -45%;
		font-size: 40px;
	}
	.feedback_block {
		width: 95%;
		position: relative;
	}
	.feedback {
		width: 284px;
		margin-top: 44px;
	}
	.feedback h1 {
		font-size: 24px;
	}
	.feedback p {
		font-size: 11px;
		line-height: 24px;
	}
	.feed_d, .feed_m {
		display: none;
	}
	.div_feed_t {
		text-align: center;
		margin-top: -110px;
	}
	.feed_t {
		display: inline-block;
		color: #fff;
		font-family: "Gotham Pro Black";
		padding: 18px 32px;
		background-color: #1c7fff;
		font-size: 8px;
		font-weight: 400;
		line-height: 26px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}
	.company_d, .company_m {
		display: none;
	}
	.company_t {
		display: block;
	}
	.company {
		margin-left: 37px;
		width: 100%;
	}
	.company_row:nth-child(2) {
		margin-top: 10px;
    	margin-bottom: 30px;
	}
	.t_company_2 {
		margin-left: 39px;
	}
	.t_company_3 {
		margin-left: 48px;
	}
	.t_company_4 {
		margin-left: 39px;
	}
	.t_company_5 {
		margin-left: 65px;
	}
	.t_company_6 {
		margin-left: 48px;
	}
	.t_company_7 {
		margin-left: 23px;
	}
	.t_company_8 {
		margin-left: 76px;
	}
	.t_company_9 {
		margin-left: 52px;
	}
}















/*<header>
		<div class="column" id="first">
			<div class="col_text">
				<h1>Агротехника</h1>
				<p>Цели и предполагаемые задачи внедрения:</p>
				<ul>
					<li><span>Контроль местоположения и состояния автомобиля в<br>Украине и за ее пределами</span></li>
					<li><span>Контроль расхода топлива</span></li>
					<li><span>Контроль режимов работы</span></li>
				</ul>
				<p>Получаемый результат от предлагаемого решения:</p>
				<ul>
					<li><span>Контроль местоположения автомобиля в реальном<br>времени по всему миру</span></li>
					<li><span>Контроль уровня и расхода топлива</span></li>
				</ul>
			</div>
		</div>
		<div class="column" id="second">
		   	<div class="col_text">
				<h1>Легковой транспорт</h1>
				<p>Цели и предполагаемые задачи внедрения:</p>
				<ul>
					<li><span>Контроль местоположения и состояния автомобиля в<br>Украине и за ее пределами</span></li>
					<li><span>Контроль расхода топлива</span></li>
					<li><span>Контроль режимов работы</span></li>
				</ul>
				<p>Получаемый результат от предлагаемого решения:</p>
				<ul>
					<li><span>Контроль местоположения автомобиля в реальном<br>времени по всему миру</span></li>
					<li><span>Контроль уровня и расхода топлива</span></li>
				</ul>
			</div>
		</div>
		<div class="column" id="third">
		    <div class="col_text">
				<h1>Грузоперевозки</h1>
				<p>Цели и предполагаемые задачи внедрения:</p>
				<ul>
					<li><span>Контроль местоположения и состояния автомобиля в<br>Украине и за ее пределами</span></li>
					<li><span>Контроль расхода топлива</span></li>
					<li><span>Контроль режимов работы</span></li>
				</ul>
				<p>Получаемый результат от предлагаемого решения:</p>
				<ul>
					<li><span>Контроль местоположения автомобиля в реальном<br>времени по всему миру</span></li>
					<li><span>Контроль уровня и расхода топлива</span></li>
				</ul>
			</div>
		</div>
		<div class="column" id="fourth">
		    <div class="col_text">
				<h1>Спецтехника</h1>
				<p>Цели и предполагаемые задачи внедрения:</p>
				<ul>
					<li><span>Контроль местоположения и состояния автомобиля в<br>Украине и за ее пределами</span></li>
					<li><span>Контроль расхода топлива</span></li>
					<li><span>Контроль режимов работы</span></li>
				</ul>
				<p>Получаемый результат от предлагаемого решения:</p>
				<ul>
					<li><span>Контроль местоположения автомобиля в реальном<br>времени по всему миру</span></li>
					<li><span>Контроль уровня и расхода топлива</span></li>
				</ul>
			</div>
		</div>
		<div class="column" id="fifth">
		    <div class="col_text">
				<h1>ЖД транспорт</h1>
				<p>Цели и предполагаемые задачи внедрения:</p>
				<ul>
					<li><span>Контроль местоположения и состояния автомобиля в<br>Украине и за ее пределами</span></li>
					<li><span>Контроль расхода топлива</span></li>
					<li><span>Контроль режимов работы</span></li>
				</ul>
				<p>Получаемый результат от предлагаемого решения:</p>
				<ul>
					<li><span>Контроль местоположения автомобиля в реальном<br>времени по всему миру</span></li>
					<li><span>Контроль уровня и расхода топлива</span></li>
				</ul>
			</div>
		</div>	
	</header>
	<section>
		<div class="feedback_block">
			<div class="feedback">
				<h1>Отзывы наших клиентов</h1>
				<p>Сотрудничество с нашей Компанией поможет <span class="feed_light">снизить затраты на 5-25%</span> общего годового бюджета затрат на автотранспорт.</p>
				<a href="javascript://">Читать все отзывы</a>
			</div>
			<div class="company">
				<div class="company_row">
					<img src="img/d_company_1.png" alt="Укргазпромбанк" class="d_company_1">
					<img src="img/d_company_2.png" alt="Polimin" class="d_company_2">
					<img src="img/d_company_3.png" alt="Нафтогаз Украины" class="d_company_3">
				</div>
				<div class="company_row">
					<img src="img/d_company_4.png" alt="" class="d_company_4">
					<img src="img/d_company_5.png" alt="VOLVO" class="d_company_5">
					<img src="img/d_company_6.png" alt="ZEPPELIN CAT" class="d_company_6">
				</div>
				<div class="company_row">
					<img src="img/d_company_7.png" alt="Жако" class="d_company_7">
					<img src="img/d_company_8.png" alt="KLO" class="d_company_8">
					<img src="img/d_company_9.png" alt="Моршинська" class="d_company_9">
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(function () {
			initHoverBoxes();
		});

		function initHoverBoxes() {
		  var column = $('.column');
		  
		  column.mouseenter(function() {
		    column.removeClass('wide');
		    column.css('width', '15%');
		    $(this).addClass('wide');
		  });
		  
		  column.mouseleave(function() {
		    column.css('width', '20%');
		    column.removeClass('wide');
		  });
		}
	</script>
header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.column {
	width: 20%;
	padding: 2%;
    height: 682px;
    margin: 0;
    transition: all 0.5s ease;
    position: relative;
}
.column.wide {
    width: 40% !important;
}
.column#first {
    background: url(../img/agrotechnics.png);
    background-color: rgba(0, 0, 0, 0.9);
    background-position: center;
    /*-webkit-clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);*/
/*}
.column#first:hover {
	background-color: rgba(255, 255, 255, 0.9);
}
.column#first:hover .col_text {
	display: block;
}
.column#second {
    background: url(../img/car.png);
    background-color: rgba(0, 0, 0, 0.9);
    /*-webkit-clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
	clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
	margin-left: -37px;*/
/*}
.column#second:hover {
	background-color: rgba(255, 255, 255, 0.9);
}
.column#second:hover .col_text {
	display: block;
}
.column#third {
    background: url(../img/trucking.png);
    background-color: rgba(0, 0, 0, 0.9);
    /*-webkit-clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
	clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
	margin-left: -37px;*/
/*}
.column#third:hover {
	background-color: rgba(255, 255, 255, 0.9);
}
.column#third:hover .col_text {
	display: block;
}
.column#fourth {
    background: url(../img/special_equipment.png);
    background-color: rgba(0, 0, 0, 0.9);
    /*-webkit-clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
	clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
    margin-left: -37px;*/
/*}
.column#fourth:hover {
	background-color: rgba(255, 255, 255, 0.9);
}
.column#fourth:hover .col_text {
	display: block;
}
.column#fifth {
    background: url(../img/railway.png);
    background-color: rgba(0, 0, 0, 0.9);
    /*-webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
	margin-left: -37px;*/
/*   background-size: cover;
}
.column#fifth:hover {
	background-color: rgba(255, 255, 255, 0.9);
}
.column#fifth:hover .col_text {
	display: block;
}



.col_text {
	display: none;
	color: #363636;
}
.col_text h1 {
	font-family: Gotham Pro Black;
	font-size: 55px;
}
.col_text p {
	font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 33px;
}
.col_text ul {
	margin-left: 20px;
}
.col_text li {
	font-family: Roboto, sans-serif;
    font-weight: 300;
	font-weight: 300;
	line-height: 30px;
	color: #1c7fff;
}
.col_text ul li span {
	color: #363636;
}




.feedback_block {
	max-width: 1216px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.feedback {
	width: 440px;
	margin-top: 88px;
}
.feedback h1 {
	font-family: "Gotham Pro Black";
	font-size: 50px;
}
.feedback p {
	margin-top: 48px;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 33px;
	margin-bottom: 69px;
}
.feed_light {
	font-weight: 900;
}
.feedback a {
	color: #fff;
	font-family: "Gotham Pro Black";
	padding: 25px 41px;
	background-color: #1c7fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.company {
	width: 741px;
	height: 374px;
	margin-top: 30px;
	margin-left: 79px;
}
.company_row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.company_row:nth-child(2) {
	margin-top: 23px;
	margin-bottom: 57px;
}
.d_company_2 {
	margin-left: 132px;
	margin-top: 31px;
}
.d_company_3 {
	margin-left: 159px;
	margin-top: 34px;
}
.d_company_4 {
	margin-left: 59px;
	margin-top: 31px;
}
.d_company_5 {
	margin-left: 171px;
	margin-top: 50px;
}
.d_company_6 {
	margin-left: 154px;
	margin-top: 50px;
}
.d_company_7 {
	margin-left: 36px;
}
.d_company_8 {
	margin-left: 182px;
	margin-top: 7px;
}
.d_company_9 {
	margin-left: 159px;
	margin-top: 19px;
}





@media screen and (max-width: 768px) {
	.column#first {
	    background-position: center;
	}
	.column#second {
	    background-position: center;
	}
	.column#third {
	    background-position: center;
	}
	.column#fourth {
	    background-position: center;
	}
	.column#fifth {
	    background-position: center;
	}
}