body {
	font-family: Montserrat, sans-serif;
	padding: 0;
	margin: 0;
}
header {
	background-color: #fce38a;
	background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),  url(../img/header.png) no-repeat center top / cover;;
	height: 1000px;  
}
a {
	text-decoration: none;
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
li {
	list-style-type: none;
}
header img {
	margin-top: 28px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
nav {
	float: right;
	margin-top: 40px;
}
.menu {
	display: flex;
	margin: 0;
	padding: 0;
}
.menu a:hover{
	color: #fce38a;
	border-bottom: 3px solid currentColor;
	padding-bottom: 12px;
}
.menu a {
	margin-right: 56px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
header h2 {
	color: #ffffff;
	font-family: "Kaushan Script";
	font-size: 72px;
	font-weight: 400;
	margin: 0;
	padding-top: 179px;
	text-align: center;
}
header h1 {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 150px;
	font-weight: 700;
	line-height: 140px;
	padding-top: 42px;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}
header input {
	text-transform: uppercase;
	margin-top: 139px;
	margin-left: 432px;
	width: 160px;
	height: 40px;
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 700;
	border: 3px solid #ffffff;
	background: none;
	padding: 9px 29px;
}