@font-face {
	font-family: "Sang Bleu Kingdom Light";
	src: url('../fonts/SangBleuKingdom-Light.otf');
	font-weight: 300;
}
@font-face {
	font-family: "Sang Bleu Kingdom Regular";
	src: url('../fonts/SangBleuKingdom-Regular.otf');
	font-weight: 400;
}
@font-face {
	font-family: "Neue Haas Unica Pro Regular";
	src: url('../fonts/NeueHaasUnicaPro-Regular.otf');
	font-weight: 400;
}
@font-face {
	font-family: "Neue Haas Unica Pro Light";
	src: url(../fonts/NeueHaasUnicaPro-Light.otf);
	font-weight: 300;
}