body {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 99999999;
}
#about {
	margin-top: -89px;
	padding-top: 89px;
}
#espionage {
	margin-top: -89px;
	padding-top: 89px;
}
#desert {
	margin-top: -89px;
	padding-top: 89px;
}
#contact {
	margin-top: -89px;
	padding-top: 89px;
}
.menu__links-item:last-child {
	display: none;
}
.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;  
}
.top_menu {
	font-family: "Neue Haas Unica Pro Light";
	height: 89px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container {
	padding-left: 25px;
	padding-right: 25px;
}
.menu,.auth {
	margin: 0;
	width: 34%;
	max-width: 34%;
	flex-basis: 34%;
}
.auth a {
	float: right;
	margin: 0;
}
nav {
	margin-top: 4px;
	font-size: 15px;
	font-weight: 300;
	margin-left: 29px;
}
nav a {
	margin-right: 10px;
}
.logo{
	position: relative;
	display: flex;
	justify-content: center;
}
.login {
	font-family: "Neue Haas Unica Pro Light";
	color: #fff;
	margin-right: 30px;
}
video {
	max-width: 100%;
}
.video {
	position: relative;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	height: auto;
}
.video__header {
	position: absolute;
	left: 0;
	top: 0;
	height: auto;
	z-index: 3;
	width: 100%;
}
.overlay {
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  text-transform: uppercase;
  padding-top: 100px;
}
.video-text {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	margin: 0 auto;
	color: #fff;
	font-family: "Sang Bleu Kingdom Regular";
	font-size: 4vw;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
	line-height: 300%;
	padding-top: 110px;
}
.video-text span:nth-of-type(1) {
	display: block;
}
.video-text span:nth-of-type(2) {
	display: none;
}
.video-text div:hover span:nth-of-type(1) {
	display: none;
}
.video-text div:hover span:nth-of-type(2) {
	display: block;
}
.video-text span:nth-of-type(3) {
	display: block;
}
.video-text span:nth-of-type(4) {
	display: none;
}
.video-text div:hover span:nth-of-type(3) {
	display: none;
}
.video-text div:hover span:nth-of-type(4) {
	display: block;
}
.video-text span:nth-of-type(5) {
	display: block;
}
.video-text span:nth-of-type(6) {
	display: none;
}
.video-text div:hover span:nth-of-type(5) {
	display: none;
}
.video-text div:hover span:nth-of-type(6) {
	display: block;
}
.about {
	display: flex;
	height: 1572px;
	background-color: #000;
	flex-direction: column;
	text-align: center;
}
.about__top {
	margin-top: 140px;
	line-height: 26.04px;
	text-align: center;
}
h2 {
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Sang Bleu Kingdom Regular";
	font-size: 45px;
	font-weight: 400;
}
hr {
	width: 120px;
}
h3 {
	font-family: "Sang Bleu Kingdom Regular";
	font-size: 25px;
	font-weight: 400;
	color: #fff;
}
.about__text {
	margin: 0 auto;
	width: 75%;
	text-align: center;
}
p {
	font-family: "Sang Bleu Kingdom Light";
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}
.about__video {
	padding-top: 66px;
}
.espionage {
	width: 100%;
	height: 594px;
	background-image: url(../img/espionage_challenge_1.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	display: inline-block;
	text-align: center;
}
.espionage__text {
	margin: 0 auto;
	padding-top: 200px;
}
.undercover {
	display: flex;
	flex-direction: column;
	background-color: #000;
	height: 513px;
	align-items: center;
}
.undercover__text {
	margin: 0 auto;
	padding-top: 78px;
	width: 75%;
	height: 166px;
	line-height: 35px;
	text-align: center;
}
.desert {
	width: 100%;
	height: 594px;
	background-image: url(../img/espionage_challenge_2.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	display: inline-block;
	text-align: center;
}
.desert__text {
	margin: 0 auto;
	padding-top: 200px;
}
.dropped {
	align-items: center;
	background-color: #000;
	height: 540px;
}
.dropped__text {
	line-height: 35px;
	text-align: center;
	margin: 0 auto;
	padding-top: 76px;
	width: 75%;
	height: 271px;
}
footer {
	height: 200px;
	background-color: #000;
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 84px;
}
.contact {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.footer__text {
	align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #fff;
    font-size: 35px;
    border-right: 1px solid #fff;
	font-family: "Neue Haas Unica Pro Regular";
	letter-spacing: -0.7px;
}
.footer__mail {
	font-family: "Neue Haas Unica Pro Light";
	padding-top: 22px;
    padding-left: 20px;
    font-size: 17px;
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 26px;
}
.footer__mail a {
	color: #fff;
}
.footer__mail {
	font-size: 17px;
}

@media screen and (max-width: 1024px) {
	.video-text {
		line-height: 225%;
	}
	.top_menu {
     	font-family: "Neue Haas Unica Pro Light";
		height: 89px;
		color: #fff;
		display: flex;
	}
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
	.menu {
		position: fixed;
	}
	.menu__icon{
		display: inline-block;
		z-index: 2000;
	}
	.logo {
		margin: 0 auto;
	}
	.auth {
		display: none;
	}
	.menu__links {
		height: 100%;
		width: 25%;
		position: fixed;
		display: none;
		top: 0;
		right: 0;
		left: 0;
		background-color: #000;
		z-index: 1000;
		overflow: auto;
		padding: 100px 0 0 30px;
		font-size: 25px;
		font-weight: bold;
	}
	.menu__links-item {
		padding-top: 20px;
		display: block;
		text-align: left;
		color: #ffffff;
	}
	.menu__links-item:last-child {
		display: block;
	}
	.logo img {
		height: 22px;
	}
	.about__top h2 {
		font-size: 25px;
	}
	.about__text strong {
		font-size: 	25px;
	}
	p {
		font-size: 20px;
	}
	.video-text {
		font-size: 4vw;
	}
	.about__top {
		margin-top: 40px;
	}
	.about__text, .undercover__text, .dropped__text {
		max-width: 90%;
		width: 90%;
	}
}
@media screen and (max-width: 768px) {
	.top_menu {
     	font-family: "Neue Haas Unica Pro Light";
		height: 89px;
		color: #fff;
		display: flex;
	}
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
	.menu {
		position: fixed;
	}
	.menu__icon{
		display: inline-block;
		z-index: 2000;
	}
	.logo {
		margin: 0 auto;
	}
	.auth {
		display: none;
	}
	.menu__links {
		height: 100%;
		width: 27%;
		position: fixed;
		display: none;
		top: 0;
		right: 0;
		left: 0;
		background-color: #000;
		z-index: 1000;
		overflow: auto;
		padding: 100px 0 0 30px;
		font-size: 20px;
	}
	.menu__links-item {
		padding-top: 20px;
		display: block;
		text-align: left;
		color: #ffffff;
	}
	.menu__links-item:last-child {
		display: block;
	}
	.logo img {
		height: 22px;
	}
	.about__top h2 {
		font-size: 25px;
	}
	.about__text strong {
		font-size: 	15px;
	}
	p {
		font-size: 15px;
	}
	h3 {
		font-size: 20px;
	}
	.video-text {
		font-size: 4vw;
	}
	.about {
		height: 1200px;
	}
	.about__top {
		margin-top: 40px;
	}
	.about__text, .undercover__text, .dropped__text {
		max-width: 90%;
		width: 90%;
	}
	.undercover {
		height: 400px;
	}
	.dropped {
		height: 450px;
	}
	footer {
		height: 125px;
		padding-top: 35px;
	}
}
@media screen and (max-width: 600px) {
	.video {
		padding-top: 89px;
		background-color: #000;
	}
	.video-text {
		font-size: 4vw;
		line-height: 200%;
	}
	.about__top h2 {
		font-size: 20px;
	}
	.about__text strong {
		font-size: 	15px;
	}
	p {
		font-size: 13px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 15px;
	}
	.about {
		height: 1050px;
	}
	.about__top {
		margin-top: 40px;
	}
	.about__text, .undercover__text, .dropped__text {
		max-width: 90%;
		width: 90%;
	}
	.undercover {
		height: 400px;
	}
	.dropped {
		height: 450px;
	}
	footer {
		height: 125px;
		padding-top: 35px;
	}
}
@media screen and (max-width: 480px) {
	.video {
		padding-top: 89px;
		background-color: #000;
	}
	.video-text {
		font-size: 4vw;
	}
	.about__top h2 {
		font-size: 20px;
	}
	.about__text strong {
		font-size: 	15px;
	}
	.about__video {
		padding-top: 0;
	}
	p {
		font-size: 13px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 15px;
	}
	.about {
		height: 1200px;
	}
	.about__top {
		margin-top: 40px;
	}
	.about__text, .undercover__text, .dropped__text {
		max-width: 90%;
		width: 90%;
	}
	.undercover {
		height: 400px;
	}
	.dropped {
		height: 500px;
	}
	footer {
		height: 125px;
		padding-top: 35px;
	}
}
@media screen and (max-height: 425px) {
	.video-text {
		font-size: 4vw;
	}
	.logo {
		padding-left: 85px;
	}
}
@media screen and (max-width: 320px) {
	.menu__icon {
	    width: 35px;
	    height: 25px;
	}
	.logo {
		padding-top: 5px;
	}
	.video {
		padding-top: 89px;
		background-color: #000;
	}
	.video-text {
		font-size: 4vw;
	}
	.about__top h2 {
		font-size: 20px;
	}
	.about__text strong {
		font-size: 	15px;
	}
	.about__video {
		padding-top: 0;
	}
	.logo {
		padding-left: 65px;
	}
	p {
		font-size: 13px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 15px;
	}
	.about {
		height: 1200px;
	}
	.about__top {
		margin-top: 40px;
	}
	.about__text, .undercover__text, .dropped__text {
		max-width: 90%;
		width: 90%;
	}
	.undercover {
		height: 400px;
	}
	.dropped {
		height: 600px;
	}
	footer {
		height: 125px;
		padding-top: 35px;
	}
	.contact a {
		font-size: 13px;
	}
}	